@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&display=swap');

.lent-stamp {
    font-family:monospace;
    font-weight: 900;
    color: darkred;
    transform: rotate(-10deg);
    
}

.select-hover {
    color: whitesmoke;
    transition: .2s;
    opacity: .2;
    cursor: pointer;

}
.select-hover:hover {
    color: black;
    opacity: 1;
    cursor: pointer;

}