.splash-title {

    --text: #f7be60; 
    --shadow: #e4743a;
    --alt-shadow: lightblue;
    --tralt-shadow: #9d8d9c;
  }
  
  
  
  .splash-groovy {

    color: var(--text);
    font-size: 10rem;
    transform: rotate(-20deg);
    text-shadow: 6px 6px var(--shadow),
                 5px 5px var(--shadow),
                 4px 4px var(--shadow),
                 3px 3px var(--shadow),
                 2px 2px var(--shadow),
                 1.5px 1.5px var(--shadow),
                 1px 1px var(--shadow);
  
  
  }
  
  
  
  .splash-groovy span:nth-child(2n) {
    color: #ED625C;
    text-shadow: 6px 6px var(--alt-shadow),
                 5px 5px var(--alt-shadow),
                 4px 4px var(--alt-shadow),
                 3px 3px var(--alt-shadow),
                 2px 2px var(--alt-shadow),
                 1.5px 1.5px var(--alt-shadow),
                 1px 1px var(--alt-shadow);
  
  }
  
  .splash-groovy span:nth-child(5n) {
    color: #b22e6c;
    text-shadow: 6px 6px var(--tralt-shadow),
                 5px 5px var(--tralt-shadow),
                 4px 4px var(--tralt-shadow),
                 3px 3px var(--tralt-shadow),
                 2px 2px var(--tralt-shadow),
                 1.5px 1.5px var(--tralt-shadow),
                 1px 1px var(--tralt-shadow);
  
  }